<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<div>
    <h1 class="navbar-header">
            Hotels featuring Show Me The Rate!&trade;
        </h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link active" href="http://demarcotvpt-eval-test.apigee.net/apigee/node/searchhotels">Home</a></li>
        </ul>
    </div>

</div>
</nav>